.project-image{
    height: 220px;
    width: 300px;
    border-radius: 10px;
}

.user-name-div{
    margin-top: 6px;
}
.user-name{
    margin-left: 20px;
    font-size: 26px;
    line-height: 30px;
    display: block;
}

.user-nickname{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    display: block;
    margin-left: 20px;
    font-weight: lighter;
}

.repository-div{
    margin-top: 20px;
    border-bottom: solid 1px #d1d5da;
    width:100%;
}

.margin-top-div{
    margin-top: 20px;
}


.project-name-h3{
    margin-top: 10px;
    color: #0366d6;
    font-size: 14px;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.repository-name-h3 {
    color:#0366d6;
    font-size: 20px;
    font-weight: 600;
}

.project-description{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.search-project-div{
    position: relative !important;
    border-bottom: solid;
    border-top-width: 2px;
    border-color:#0a0a0a;
    border-bottom-width: 2px;
}

.button-submit{
   width: 100px;
    margin: 5px;
    height: 80%;
    font-weight: 400;
    font-size: medium;
    color:#1B9AF7;
    border-radius: 6px;
}

.new-button{
    width: 100px;
    height: 40px;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    text-align-all: center;
}

.new-button:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.nameLabel{
    margin-right: 20px;
    font-size: large;
    font-weight: 200;
}
