
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>热点</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Generous Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link th:href="@{assets/css/bootstrap.css}" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link th:href="@{assets/css/participateStyle.css}" rel='stylesheet' type='text/css' />
    <script th:src="@{assets/js/jquery-2.1.1.min.js}"> </script>
    <link th:href="@{assets/css/searchstyle.css}" rel="stylesheet">
</head>
<body>
<!--start-home-->
<link th:href="@{assets/css/style.css}" rel="stylesheet">
<link th:href="@{assets/css/stickup.css}" rel="stylesheet">
<link th:href="@{assets/css/button.css}" rel="stylesheet">
<div th:include="template/navbar :: navbar"></div>
<div class="clearfix"></div>
<div class="banner two"></div>
<!--start-news-->
<div class="news two">
    <div class="container">
        <h3 class="tittle">热点</h3>
        <div class="news-article">
            <div class="col-md-6 article-post">
                <a th:href="@{/activity}" ><img th:src="@{hotspot/images/n1.jpg}" alt="img07"/></a>
                <div class="col-md-3 post-meta">
                    <div class="meta-icon">
                        <div class="pic">
                            <a th:href="@{/userInfo}" > <i class="glyphicon glyphicon-picture"></i></a>
                        </div>
                    </div>
                    <ul class="ad-info">
                        <li>21 Aug'15</li>
                        <li> <a th:href="@{/userInfo}">旺仔牛奶</a></li>
                        <li style="color:#FCB2B2;"> 23 评论</li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-9 post-details">
                    <a th:href="@{/activity}"><h3>To Protect Humanity</h3></a>
                    <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                    <div>
                        <a class="blog hvr-shutter-out-horizontal" th:href="@{/activity}" role="button">查看详情</a>
                    </div>
                </div>
                <!--post-details-->
                <div class="clearfix"> </div>
            </div>
            <!--2-->
            <div class="col-md-6 article-post">
                <a th:href="@{/activity}" ><img th:src="@{hotspot/images/n2.jpg}" alt="img07"/></a>
                <div class="col-md-3 post-meta">
                    <div class="meta-icon">
                        <div class="pic">
                            <a th:href="@{/userInfo}" > <i class="glyphicon glyphicon-picture"></i></a>
                        </div>
                    </div>
                    <ul class="ad-info">
                        <li>21 Aug'15</li>
                        <li> <a th:href="@{/userInfo}">旺仔牛奶</a></li>
                        <li style="color:#FCB2B2;"> 23 评论</li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-9 post-details">
                    <a th:href="@{/activity}"><h3>To Protect Humanity</h3></a>
                    <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                    <div>
                        <a class="blog hvr-shutter-out-horizontal" th:href="@{/activity}" role="button">查看详情</a>
                    </div>
                </div>
                <!--post-details-->
                <div class="clearfix"> </div>
            </div>
            <!--3-->
            <div class="col-md-6 article-post">
                <a th:href="@{/activity}" ><img th:src="@{hotspot/images/n3.jpg}" alt="img07"/></a>
                <div class="col-md-3 post-meta">
                    <div class="meta-icon">
                        <div class="pic">
                            <a th:href="@{/userInfo}" > <i class="glyphicon glyphicon-picture"></i></a>
                        </div>
                    </div>
                    <ul class="ad-info">
                        <li>21 Aug'15</li>
                        <li> <a th:href="@{/userInfo}">旺仔牛奶</a></li>
                        <li style="color:#FCB2B2;"> 23 评论</li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-9 post-details">
                    <a th:href="@{/activity}"><h3>To Protect Humanity</h3></a>
                    <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                    <div>
                        <a class="blog hvr-shutter-out-horizontal" th:href="@{/activity}" role="button">查看详情</a>
                    </div>
                </div>
                <!--post-details-->
                <div class="clearfix"> </div>
            </div>
            <!--4-->
            <div class="col-md-6 article-post">
                <a th:href="@{/activity}" ><img th:src="@{hotspot/images/n4.jpg}" alt="img07"/></a>
                <div class="col-md-3 post-meta">
                    <div class="meta-icon">
                        <div class="pic">
                            <a th:href="@{/userInfo}" > <i class="glyphicon glyphicon-picture"></i></a>
                        </div>
                    </div>
                    <ul class="ad-info">
                        <li>21 Aug'15</li>
                        <li> <a th:href="@{/userInfo}">旺仔牛奶</a></li>
                        <li style="color:#FCB2B2;"> 23 评论</li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-9 post-details">
                    <a th:href="@{/activity}"><h3>To Protect Humanity</h3></a>
                    <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                    <div>
                        <a class="blog hvr-shutter-out-horizontal" th:href="@{/activity}" role="button">查看详情</a>
                    </div>
                </div>
                <!--post-details-->
                <div class="clearfix"> </div>
            </div>
            <!--5-->
            <div class="col-md-6 article-post">
                <a th:href="@{/activity}" ><img th:src="@{hotspot/images/n2.jpg}" alt="img07"/></a>
                <div class="col-md-3 post-meta">
                    <div class="meta-icon">
                        <div class="pic">
                            <a th:href="@{/userInfo}" > <i class="glyphicon glyphicon-picture"></i></a>
                        </div>
                    </div>
                    <ul class="ad-info">
                        <li>21 Aug'15</li>
                        <li> <a th:href="@{/userInfo}">旺仔牛奶</a></li>
                        <li style="color:#FCB2B2;"> 23 评论</li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-9 post-details">
                    <a th:href="@{/activity}"><h3>To Protect Humanity</h3></a>
                    <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                    <div>
                        <a class="blog hvr-shutter-out-horizontal" th:href="@{/activity}" role="button">查看详情</a>
                    </div>
                </div>
                <!--post-details-->
                <div class="clearfix"> </div>
            </div>
            <!--6-->
            <div class="col-md-6 article-post lost">
                <a th:href="@{/activity}" ><img th:src="@{hotspot/images/n3.jpg}" alt="img07"/></a>
                <div class="col-md-3 post-meta">
                    <div class="meta-icon">
                        <div class="pic">
                            <a th:href="@{/userInfo}" > <i class="glyphicon glyphicon-picture"></i></a>
                        </div>
                    </div>
                    <ul class="ad-info">
                        <li>21 Aug'15</li>
                        <li> <a th:href="@{/userInfo}">旺仔牛奶</a></li>
                        <li style="color:#FCB2B2;"> 23 评论</li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-9 post-details">
                    <a th:href="@{/activity}"><h3>To Protect Humanity</h3></a>
                    <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                    <div>
                        <a class="blog hvr-shutter-out-horizontal" th:href="@{/activity}" role="button">查看详情</a>
                    </div>
                </div>
                <!--post-details-->
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <!--start-blog-pagenate-->
            <div class="blog-pagenat">
                <ul>

                    <li><a style="background-color: rgba(0,0,0,.2);color: #FFF;" >上一页</a></li>

                    <li><a style="background-color: rgba(0,0,0,.2);color: #FFF;">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>

                    <li><a class="last" href="#">下一页</a></li>

                    <div class="clearfix"> </div>
                </ul>
            </div>
            <!--//End-blog-pagenate-->

        </div>
    </div>
</div>
<!--footer-->
<div th:include="template/footer :: copyright"></div>
<!--start-smoth-scrolling-->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<a href="#animenu" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>