<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>活动</title>
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link th:href="@{assets/css/bootstrap.css}" rel='stylesheet' type='text/css' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script th:src="@{assets/js/jquery-2.1.1.min.js}"></script>
    <script th:src="@{assets/js/bootstrap.min.js}"></script>
    <!-- animation-effect -->
    <link th:href="@{assets/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{assets/css/participateStyle.css}" rel="stylesheet">
    <link th:href="@{assets/css/style.css}" rel="stylesheet">
    <link th:href="@{assets/css/stickup.css}" rel="stylesheet">
    <link th:href="@{assets/css/button.css}" rel="stylesheet">
    <script th:src="@{assets/js/wow.min.js}"></script>
    <link rel="stylesheet" th:href="@{Login/css/owl.carousel.css}" type="text/css" media="all">
    <link th:href="@{Login/css/owl.theme.css}" rel="stylesheet">
    <link th:href="@{Login/css/style.css}" rel="stylesheet">

    <script>
        new WOW().init();
    </script>

</head>
<body>
<div th:include="template/navbar :: navbar"></div>
<!--start-news-->
<div class="clearfix"></div>
<div class="banner two"></div>
<div class="news two">
    <div class="container">

        <h3 class="tittle">活动</h3>
        <div class="news-article">
            <div class="article-post">
                <img style="width: 1100px;height: 500px" th:src="@{assets/img/chunhui-participate.jpg}"/>
                <div class="col-md-3 post-meta">
                    <div class="meta-icon">
                        <div class="pic">
                            <a th:href="@{/userInfo}" > <i class="glyphicon glyphicon-picture"></i></a>
                        </div>
                    </div>
                    <ul class="ad-info">

                        <li>2017  10.20</li>
                        <li> <a th:href="@{/userInfo}">牛书凉</a></li>
                        <li style="color:#FCB2B2;"> 24 评论</li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-9 post-details">
                    <h3>To Protect Humanity</h3>
                    <p>Nam nec tellus a odio tincidunt auctor a ornare odio.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus porta. Fusce suscipit varius mi. nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna in 2001 donec accumsan malesuada orci. Donec sit amet eros.  Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                </div>
                <!--post-details-->
                <div class="clearfix"> </div>

                <div class="col-md-6 wthree-about-left">
                    <h3>项目参与度</h3>
                    <div class="skills-bar">
                        <section class='bar'>
                            <section class='wrap'>
                                <div class='wrap_right'>
                                    <div class='bar_group'>
                                        <div class='bar_group__bar thin' label='累计捐款金额' show_values='true' tooltip='true' value='10'></div>
                                        <div class='bar_group__bar thin' label='参与人数' show_values='true' tooltip='true' value='235'></div>
                                        <div class='bar_group__bar thin' label='关注人数' show_values='true' tooltip='true' value='20'></div>
                                        <div class='bar_group__bar thin' label='进度' show_values='true' tooltip='true' value='456'></div>
                                    </div>
                                </div>
                                <div class='clear'></div>
                            </section>
                        </section>
                    </div>
                </div >

                <div class="col-md-10 data">

                    <h5 class="m_26" style="float: left;width: 100px;text-align: center;font-size: 18px;"> <a th:href="@{/donate}"> 捐 款 </a></h5>
                    <h5 class="m_26" style="float: left;width: 100px;text-align: center;font-size: 18px;"> <a th:href="@{/donate}"> 关 注 </a></h5>
                    <h5 class="m_26" style="float: left;width: 100px;text-align: center;font-size: 18px;"> <a th:href="@{/donate}"> 参 与 </a></h5>

                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="single">
            <div class="leave">

                <h4> 评 论 </h4>
            </div>
            <form id="commentform">
                    <textarea style="width: 1000px"></textarea>
                <div class="clearfix"></div>
                <p class="form-submit">

                    <input name="submit" type="submit" id="submit" value="评  论">

                </p>
                <div class="clearfix"></div>
            </form>
            <div class="single_grid2">
                <h4 class="tz-title-4 tzcolor-blue">

                     评 论 区

                </h4>
                <ul class="list">
                    <li>
                        <div class="col-md-2 preview"><a th:href="@{/userInfo}"><img th:src="@{assets/img/co.png}" class="img-responsive" alt=""></a></div>
                        <div class="col-md-10 data">
                            <div class="title"><a th:href="@{/userInfo}">donator</a><br><span class="m_14">Aug 30, 2015</span></div>
                            <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature</p>

                            <h5 class="m_26"> <a href="#">回复</a></h5>

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <div class="col-md-2 preview"><a th:href="@{/userInfo}"><img th:src="@{assets/img/co.png}" class="img-responsive" alt=""></a></div>
                        <div class="col-md-10 data">
                            <div class="title"><a th:href="@{/userInfo}">donator</a><br><span class="m_14">Sep 2, 2015</span></div>
                            <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature</p>

                            <h5 class="m_26"> <a href="#">回复</a></h5>

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <div class="col-md-2 preview"><a th:href="@{/userInfo}"><img th:src="@{assets/img/co.png}" class="img-responsive" alt=""></a></div>
                        <div class="col-md-10 data">
                            <div class="title"><a th:href="@{/userInfo}">donator</a><br><span class="m_14">Nov 2, 2015</span></div>
                            <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature</p>

                            <h5 class="m_26"> <a href="#">回复</a></h5>

                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div th:include="template/footer :: copyright"></div>
<!--start-smoth-scrolling-->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<script th:src="@{Login/js/jquery.tools.min.js}"></script>
<script th:src="@{Login/js/jquery.mobile.custom.min.js}"></script>
<script th:src="@{Login/js/jquery.cm-overlay.js}"></script>
<script th:src="@{Login/js/bars.js}"></script>
<script th:src="@{Login/js/owl.carousel.js}"></script>
<script>
    $(document).ready(function(){
        $('.cm-overlay').cmOverlay();
    });
</script>
<a href="#animenu" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>
