
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>彩云支南</title>
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link th:href="@{assets/css/bootstrap.css}" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link th:href="@{action/css/communitystyle.css}" rel='stylesheet'/>
    <script th:src="@{assets/js/jquery-2.1.1.min.js}"></script>
    <script th:src="@{assets/js/bootstrap.min.js}"></script>
    <!-- animation-effect -->
    <link th:href="@{assets/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{assets/css/participateStyle.css}" rel="stylesheet">
    <script th:src="@{assets/js/wow.min.js}"></script>
    <script>
        new WOW().init();
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<link th:href="@{assets/css/style.css}" rel="stylesheet">
<link th:href="@{assets/css/stickup.css}" rel="stylesheet">
<link th:href="@{assets/css/button.css}" rel="stylesheet">
<div class="navbar-wrapper" id="animenu">

    <nav class="animenu">
        <button class="animenu__toggle">
            <span class="animenu__toggle__bar"></span>
            <span class="animenu__toggle__bar"></span>
            <span class="animenu__toggle__bar"></span>
        </button>

        <ul class="animenu__nav">
            <li><img th:src="@{assets/img/logo.jpg}"></li>
            <li>
                <a th:href="@{/me}">首页</a>
            </li>
            <li>
                <a th:href="@{/hotspot}">热点</a>
            </li>
            <li>
                <a href="#">在行动</a>
                <ul class="animenu__nav__child">
                    <li><a th:href="@{/caiyun}">彩云支南</a></li>
                    <li><a th:href="@{/chunhui}">春晖之声</a></li>
                    <li><a th:href="@{/cat}">宠物之家</a></li>
                </ul>
            </li>
            <li>
                <a th:href="@{/participate}">在参与</a>
            </li>
            <a th:href="@{/regist}" style="right:-300px;"><input type="button" class="button button-normal button-plain button-border button-square"  value="注册"></a>
            <a th:href="@{/login}" style="right:-300px;"><input type="button" class="button button-normal button-plain button-border button-square"   value="登录"></a>
        </ul>
    </nav>
    <!-- End Navbar -->
</div> <!-- END NAVBAR -->

<div class="banner two">
</div>
<!-- technology-left -->
<div class="technology">
    <div class="container">
        <div class="col-md-9 technology-left">
            <div class="tech-no">
                <!-- technology-top -->

                <div class="tc-ch wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">

                    <div class="tch-img">
                        <img th:src="@{assets/img/caiyun-participate.jpg}" style="width:1000px;height:450px;">
                    </div>

                    <h3>彩 云 支 南</h3>
                    <h6>同济大学彩云支南协会
                    </h6>
                    <p>了解公益理念，传播公益思想。同心者同行，彩云支南，圆你一个公益梦！</p>
                    <p>同济大学彩云之南协会致力于搭建同济大学与云南地区沟通交流的公益平台。通过丰富的活动，让同济学子应用自己的专业知识或特长帮助云南乡村进入更多人视野，得到更多关注。</p>

                    <div class="soci">
                        <ul>
                            <li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
                            <li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
                            <li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
                            <li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
                            <li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <!-- technology-top -->

                <!-- technology-top -->
                <div class="wthree">
                    <div class="col-md-6 wthree-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="tch-img">
                            <a th:href="@{/activity}"><img th:src="@{action/images/f1.jpg}" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6 wthree-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
                        <h3><a th:href="@{/activity}">Lorem Ipsum is simply</a></h3>
                        <h6>BY <a th:href="@{/userInfo}">ADAM ROSE </a>JULY 10 2016.</h6>
                        <p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris .</p>
                        <div class="bht1">
                            <a th:href="@{/activity}">查看详情</a>
                        </div>
                        <div class="soci">
                            <ul>

                                <li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
                                <li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="wthree">
                    <div class="col-md-6 wthree-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="tch-img">
                            <a th:href="@{/activity}"><img th:src="@{action/images/f2.jpg}" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6 wthree-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
                        <h3><a th:href="@{/activity}">Lorem Ipsum is simply</a></h3>
                        <h6>BY <a th:href="@{/userInfo}">ADAM ROSE </a>JULY 10 2016.</h6>
                        <p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris .</p>
                        <div class="bht1">
                            <a th:href="@{/activity}">查看详情</a>
                        </div>
                        <div class="soci">
                            <ul>
                                <li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
                                <li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="wthree">
                    <div class="col-md-6 wthree-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="tch-img">
                            <a th:href="@{/activity}"><img th:src="@{action/images/f3.jpg}" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6 wthree-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
                        <h3><a th:href="@{/activity}">Lorem Ipsum is simply</a></h3>
                        <h6>BY <a th:href="@{/userInfo}">ADAM ROSE </a>JULY 10 2016.</h6>
                        <p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris.</p>
                        <div class="bht1">
                            <a th:href="@{/activity}">查看详情</a>
                        </div>
                        <div class="soci">
                            <ul>
                                <li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
                                <li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--post-details-->
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
    <!--start-blog-pagenate-->
    <div class="blog-pagenat">
        <ul>
            <li><a class="frist" href="#">上一页</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a class="last" href="#">下一页</a></li>
            <div class="clearfix"> </div>
        </ul>
    </div>
    <!--//End-blog-pagenate-->
        <div class="clearfix"></div>
        <!-- technology-right -->
    </div>
<!--footer-->
<div class="footer text-center">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-4 footer-text">
                <h3>About Us</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's.</p>
            </div>
            <div class="col-md-4 footer-flickr">
                <h3>Flickr Feed</h3>
                <div class="flickr-grids">
                    <div class="flickr-grid">
                        <a href="#"><img th:src="@{hotspot/images/t1.jpg}" alt=""/></a>
                    </div>
                    <div class="flickr-grid">
                        <a href="#"><img th:src="@{hotspot/images/c2.jpg}" alt=""/></a>
                    </div>
                    <div class="flickr-grid">
                        <a href="#"><img th:src="@{hotspot/images/c1.jpg}" alt=""/></a>
                    </div>
                    <div class="clearfix"> </div>

                    <div class="flickr-grid">
                        <a href="#"><img th:src="@{hotspot/images/c2.jpg}" alt=""/></a>
                    </div>
                    <div class="flickr-grid">
                        <a href="#"><img th:src="@{hotspot/images/c1.jpg}" alt=""/></a>
                    </div>
                    <div class="flickr-grid">
                        <a href="#"><img th:src="@{hotspot/images/t1.jpg}" alt=""/></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 footer-info">
                <h3>Get In Touch</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since, </p>
                <div class="support">
                    <form>
                        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        <input type="submit" value="SUBSCRIBE">
                    </form>
                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
        <div class="copy">
            <p>&copy; 2015 Generous. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
        </div>
        <!--footer-->
    </div>
</div>
<!--start-smoth-scrolling-->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!--start-smoth-scrolling-->
<script type="text/javascript">
    $(document).ready(function() {
        /*
        var defaults = {
              containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
         };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<a href="#animenu" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>
