<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>捐款</title>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script th:src="@{assets/js/jquery-2.1.1.min.js}"></script>
    <script th:href="@{assets/css/anticipate.css}"></script>
    <!-- animation-effect -->
    <link th:href="@{assets/css/animate.min.css}" rel="stylesheet">

    <link th:href="@{assets/css/participateStyle.css}" rel="stylesheet">
    <link th:href="@{assets/css/stickup.css}" rel="stylesheet">
    <link th:href="@{assets/css/button.css}" rel="stylesheet">
    <link th:href="@{assets/css/bootstrap.css}" rel='stylesheet'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link th:href="@{assets/css/style.css}" rel="stylesheet">

</head>
<body>
<div th:include="template/navbar :: navbar"></div>
<div class="donation">
    <div class="container">

        <h3 class="tittle"></h3>
        <div class="donation-content" style="text-align: left;">
            <div class="donation-header">
                <h3 class="d-tittle"> 捐 款 表 </h3>
            </div>
            <div class="donation-body">
                <div class="form-group pricing">
                    <h6 class="modal-subtitle">捐款金额</h6>
                    <div class="btn-group">
                        <textarea style="width: 300px;min-height: 15px;color: #0D0D0D" placeholder="请输入捐款金额"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <h6 class="modal-subtitle">个人信息</h6>
                    <div class="dt-inner">
                        <div class="dt">
                            <textarea style="min-height: 15px;color: #0D0D0D" id="name" placeholder="姓名"></textarea>
                            <textarea style="min-height: 15px;color: #0D0D0D" id="sex" placeholder="性别"></textarea>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="dt">
                            <textarea style="min-height: 15px;color: #0D0D0D" id="email" placeholder="邮箱"></textarea>
                            <textarea style="min-height: 15px;color: #0D0D0D" id="phone" placeholder="联系方式"></textarea>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="dt">
                            <textarea style="color: #0D0D0D" id="message" placeholder="地址"></textarea>
                            <textarea style="color: #0D0D0D" id="additional" placeholder="备注"></textarea>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="donate">
                            <input type="submit" style="font-size: 18px;" id="donate" value="捐款">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//donation-->
<!--footer-->
<div th:include="template/footer :: copyright"></div>
<script type="text/javascript">
    $(function(){
        $('#donate').click(function(){

            alert('捐款成功！');

            location.href = "donate.html";
        })
    })
</script>
<!--start-smoth-scrolling-->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<a href="#animenu" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>
