
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;  charset=UTF-8">
    <title>注册</title>
    <link rel="stylesheet" th:href="@{assets/css/reset.css}">
    <link rel="stylesheet" th:href="@{assets/css/supersized.css}">
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
    <link rel="stylesheet" th:href="@{assets/css/button.css}">

</head>
<body>

<div class="page-container">
    <div class="wrapper">
        <div class="container">
            <strong><span style="font-weight: bold;font-size: 30px;">注    册</span></strong>
            <form class="form"  method="post" style="margin: auto">
                <input type="text" name="username" placeholder="用户名">
                <input type="password" name="password"  placeholder="密码">
                <input type="password" name="password"  placeholder="再次输入密码">
                <button type="submit" id="regist-button" class="button button-3d button-plain button-border button-royal" onclick="window.location='editInfo.html'">注册</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{assets/js/jquery-2.1.1.min.js}"></script>
<!-- Javascript -->
<script type="text/javascript" th:src="@{assets/js/jquery-1.8.2.min.js}"></script>
<script type="text/javascript" th:src="@{assets/js/supersized.3.2.7.min.js}"></script>
<script type="text/javascript" th:src="@{assets/js/supersized-init.js}"></script>
<script type="text/javascript" th:src="@{assets/js/scripts.js}"></script>

</body>
</html>