<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>导航栏</title>
</head>
<body>
<div th:fragment="navbar">
<div class="navbar-wrapper" id="animenu">

    <nav class="animenu">
        <ul class="animenu__nav">
            <li style="right: 0;float:left;"><img th:src="@{Login/images/logo.png}"></li>
            <li style="float: left;right: 0;">

                <a th:href="@{/}">首页</a>
            </li>
            <li style="float: left;right: 0;">
                <a th:href="@{/hotspot}">热点</a>
            </li>
            <li style="float: left;right: 0;">
                <a>在行动</a>
                <ul class="animenu__nav__child" style="text-align: center">
                    <li><a th:href="@{/caiyun}">彩云支南</a></li>
                    <li><a th:href="@{/chunhui}">春晖之声</a></li>
                    <li><a th:href="@{/cat}">宠物之家</a></li>
                </ul>
            </li>
            <li style="float: left;right: 0;">
                <a th:href="@{/participate}">在参与</a>
            </li>
            <li class="s-bar" style="right:-120px;width:0;">

                <form class="form" th:action="@{/search}" method="post">
                    <input style="float: right;margin-right: 260px;margin-top: -3px;" type="text" name="toSearch" value="搜索" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '搜索';}">
                    <input style="float:right;margin-right:200px;margin-top: -42px;background: #eee;background-color: #428bca;width: 60px;" type="submit"  value="搜索"/>
                </form>
            </li>
            <li th:if="${session.username != null}" style="right: -310px;top:-25px;">
                <a th:text="${session.username}"  th:href="@{/userInfo}">MilkMan</a>
                <ul class="animenu__nav__child" style="text-align: center">
                    <li><a th:href="@{/showRes}">仓库管理</a></li>
                    <li><a th:href="@{/showOwnerProjects}">项目管理</a></li>
                    <li><a th:href="@{/mgtDonate}">捐款管理</a></li>
                    <li><a th:href="@{/addRepository}">新建仓库</a></li>
                    <li><a th:href="@{/logout}">退出</a></li>
                </ul>
            </li>
            <a th:if="${session.username == null}" th:href="@{/regist}" style="right: -300px;top:-25px;"><input type="button" class="button button-normal button-plain button-border button-square"  value="注册"></a>
            <a th:if="${session.username == null}" th:href="@{/login}" style="right: -300px;top:-25px;"><input type="button" class="button button-normal button-plain button-border button-square"   value="登录"></a>


        </ul>
    </nav>
    <!-- End Navbar -->
</div> <!-- END NAVBAR -->
<!--<div class="banner two"></div>-->
</div>
</body>
</html>